<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="GetLayoutFunc()">
                <NotAuthorized>
                    <ChamCongHaiChau.Client.Pages.Auth.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Không tìm thấy trang.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code{
    private Type GetLayoutFunc()
    {
        var Dispatch = new Uri(NavigationManager.Uri).AbsolutePath;
        if (Dispatch.Contains("/Account", StringComparison.OrdinalIgnoreCase))
        {
            return typeof(Layout.NotAuthLayout);
        }
        return typeof(Layout.MainLayout);
    }

}